amplify/backend/stacks/assets/import-data.asl.json
{
    "Comment": "Import fetched external data.",
    "StartAt": "ImportData",
    "States": {
        "ImportData": {
            "Type": "Task",
            "Resource": "{{lambdaArn}}",
            "ResultPath": "$.lambdaResult",
            "Next": "Finished?"
        },
        "Finished?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.lambdaResult.finished",
                    "BooleanEquals": true,
                    "Next": "Done"
                }
            ],
            "Default": "ImportData"
        },
        "Done": {
            "Type": "Succeed"
        }
    }
}