amplify/backend/assets/fetch-data.asl.json
{
    "Comment": "Fetch data from ConsignCloud",
    "StartAt": "FetchDataPage",
    "States": {
        "FetchDataPage": {
            "Type": "Task",
            "Resource": "{{lambdaArn}}",
            "ResultPath": "$.fetchDataResult",
            "Next": "MoreData",
            "Parameters": {}
        },
        "MoreData": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.fetchDataResult.more",
                    "BooleanEquals": true,
                    "Next": "PrepareNextInput"
                }
            ],
            "Default": "SuccessState"
        },
        "PrepareNextInput": {
            "Type": "Pass",
            "Parameters": {
                "inputParam1.$": "$.fetchDataResult.from",
                "inputParam2.$": "$.fetchDataResult.to"
            },
            "ResultPath": "$",
            "Next": "FetchDataPage"
        },
        "SuccessState": {
            "Type": "Succeed"
        }
    }
}